@page "/"

@inject IAuthService authService
@inject ProtectedLocalStorage localStorage

<PageTitle>Home</PageTitle>

@if (!loginInfo.Value) 
{
    <h1 class="mb-5">Please Log In</h1>
    <EditForm Model="login" OnValidSubmit="HandleValidSubmit">
        <InputText @bind-Value="login.Username" />
        <InputText type="password" @bind-Value="login.Password" />

        <button class="btn btn-success" type="submit">Log In</button>
    </EditForm>
}
else 
{
    <h3 class="mt-4">Welcome!!</h3>
}


@code {
    private AuthenticationModel login = new();
    private ProtectedBrowserStorageResult<bool> loginInfo;


    private async void HandleValidSubmit()
    {
        await authService.CreateToken(login);

        bool loggedInfo = true;
        await localStorage.SetAsync("loginInfo", loggedInfo);

        loginInfo = await localStorage.GetAsync<bool>("loginInfo");

        await InvokeAsync(StateHasChanged);
    }
}